

<div style="position: relative;">
    <div align="center" class="fond">
        Zoom and rotate
        <div class="contener_general contener_general_anim">
            <div class="contener_mixte"><div class="ballcolor ball_1">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_2">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_3">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_4">&nbsp;</div></div>
        </div>
        +
    </div>
</div>



<div style="position: relative;">
    <div align="center" class="fond">
        Move to center, change alpha
        <div class="contener_general" style="position: relative">
            <div class="contener_mixte"><div class="ballcolor ball_1 ball_anim">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_2 ball_anim">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_3 ball_anim">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_4 ball_anim">&nbsp;</div></div>
        </div>
    </div>
</div>

